body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  text-align:center;
  margin: 0 auto;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

