<!Doctype html>
<html>

<head>
     <title>Go Lang Application</title>
	 <link href="css/site.css" rel="stylesheet">
</head>

<body>
    <div class="main-container">
        <div class="cloud-image">
            <img src="img/successCloudNew.svg" />
        </div>
        <div class="content">
            <div class="content-body">
                <div class="success-text">{{.Message}}</div>
                <div class="description line-1"> This site is still under construction.</div>
                <div class="description line-2"> Please check back later. </div>
                <div class="next-steps-container">
                    <div class="next-steps-header">About</div>
                    <div class="next-steps-body">
                        <div class="step">
                            <div class="step-icon">
                                <img src="img/lightbulbWhite.svg">
                            </div>
                            <div class="step-text">This website is built using Go Language</div>
                        </div>
                        <div class="step">
                            <div class="step-icon">
                                <img src="img/lightbulbWhite.svg">
                            </div>
                            <div class="step-text">It is hosted on Azure</div>
                        </div>
                        <div class="step">
                            <div class="step-icon">
                                <img src="img/lightbulbWhite.svg">
                            </div>
                            <div class="step-text">The server is running Linux </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>