[Unit]
Description=My Useless Website
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u /home/pi/PythonPoweredPi/WebServer/Server/Server.py
WorkingDirectory=/home/pi/PythonPoweredPi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target